extends layout

block content
    script.
        var cameraStatus = 'inactive';

        function toggleCamera(data) {
            cameraStatus = data.status;

            if (data.status === 'active') {
                $('#activateButton').removeClass('success').addClass('alert').text('Disarm');
            } else {
                $('#activateButton').removeClass('alert').addClass('success').text('Activate');
                $('#latest').empty();
            }
        }

        setInterval(function () {
            if (cameraStatus === 'active') {
                $('#latest').html($('<img/>').attr('src', '/images/photo_latest.jpg?_=' + new Date().getTime()));
            }
        }, 1000)

        $(document).ready(function () {
            toggleCamera({status: '!{cameraStatus}'});

            $('#activateButton').on('click', function () {
                $.post('/', toggleCamera);
            });
        });

    #wrapper.small-8.small-centered.columns
        h1.text-center #{title}
        button#activateButton.button.radius.expand.success Activate
        #latest
