doctype html
html(lang-='en')
  head
    title= title
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.3/css/normalize.min.css')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.3/css/foundation.min.css')
    //- link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
