doctype html
html(lang-='en')
    head
      title= title
      link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.3/css/normalize.min.css')
      link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.3/css/foundation.min.css')
      script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js')
      //- link(rel='stylesheet', href='/stylesheets/style.css')

    body
        .row
            block content
